[Desktop Entry]
Version=1.0
Name=MatLab
Comment=Matrix Laboratory R2022a
Exec=/home/matthias/.local/matlab/r2023b/bin/matlab -desktop
Icon=/home/matthias/.local/matlab/r2023b/bin/glnxa64/cef_resources/matlab_icon.png
Terminal=false
Type=Application
Categories=Development
